@charset "UTF-8";

body {
    margin: 0;
}

.site-header {
    background-color: #333;
    padding: 24px;
}

.title {
    text-align: center;
    font-weight: 100;
    color: #fc3;
    letter-spacing: 2px;
    margin: 0;
    margin-bottom: 5px;
}

.main-content {
    padding: 20px;
    background-color: #eee;
}

.main-content p {
    margin-bottom: 16px;
}

.subtitle {
    text-align: center;
    color: white;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0;
}

.navbar {
    font-size: 10px;
    background-color: #555;
    margin: 0;
}

.navbar .material-icons {
    font-size: 1em;
    vertical-align: top;
    color: grey;
    padding-right: 6px;
}

.navbar ul {
    list-style-type: none;
    color: #fc3;
    overflow: hidden;
    margin: 0;
    padding-left: 0;
}

.navbar li {
    font-size: 16px;
    float: left;
    background-color: #444;
    outline: 1px solid black;
    padding: 6px;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar li:hover {
    background-color: #555;
    cursor: pointer;
}

.metadata {
    font-family: Arial;
    font-size: 10px;
    letter-spacing: 0.5px;
}

.tag {
    border: 1.3px solid #fc3;
    border-radius: 2.5px;
    padding: 4px;
    margin: 2px;
}

.tag:hover {
    cursor: pointer;
    background-color: #fc3;
}

.tags {
    line-height: 30px;
}

h2 {
    margin-top:30px;
    font-weight: normal;
}

.emphasis {
    font-size: 22px;
}

table {
    border: 1px solid rgb(79, 79, 79);
    border-collapse: collapse;
    box-shadow: 4px 4px 4px rgb(153, 153, 153);
    font-size: 14px;
}

td {
    border: 1px solid lightgrey;
    padding: 8px;
}

td:first-child {
    background-color: rgb(180, 180, 180);
    color: white;
}

tr:nth-child(even) {
    background-color: rgb(225, 225, 225);
}

.content {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    gap: 20px;
    background-color: #333;
    padding: 16px;
}

.footer-sub {
    color: #fc3;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
}

.column {
    color: white;
    font-size: 12px;
}

.sidebar {
    background-color: white;
    margin: 0;
    padding: 1px;
}

.image {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
    margin-bottom: 0;
    text-align: left;
    padding: 0;
}

img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: 0 5%;
}

.overlap {
    position: absolute;
    bottom: 12px;
    left: 10px;
    background: rgb(55, 55, 55, 0.5) ;   
    color: white;
    padding: 8px;
    font-family: Arial;
    font-size: 10px;
    letter-spacing: 0.5px;
}

.overlap h5, p {
    margin: 0;
    margin-bottom: 8px;
}