@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
}

h2 {
   text-align: center;
}

ol {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

section {
    background: rgb(228, 228, 228);
    width: 300px;
    padding: 10px;
    margin-top: 40px;
    border: 16px solid rgb(203, 202, 202);
}

li {
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(27, 27, 154);
}
