@charset "UTF-8";

a {
    text-decoration: none;
    padding: 12px;
    display: block;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

#main-list {
    display: flex;
    border: 1px solid black;
}

#main-list > ul > li {
    position: relative;
}

#sub-list {
    display: none;
    position: absolute;
    width: 100px;
    border: 1px solid black;
}

#main-list > li:hover > #sub-list {
    display: block;
}