@charset "UTF-8";

a {
    text-decoration: none;
    padding: 12px;
    display: block;
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

#main-list {
    display: block;
    width: 150px;
    background-color: rgb(102, 99, 120);
    border-right: 5px solid rgb(232, 189, 46);
}

#main-list > li {
    position: relative;
}

#sub-list {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 150px;
    background-color: rgb(102, 99, 120);
    border: 1px solid rgb(88, 87, 87);
}

#main-list > li:hover > #sub-list {
    display: block;
}   

#main-list > li:hover > a {
    background-color: rgb(92, 168, 92);
}

#sub-list > li:nth-child(even) {
    background-color: rgb(224, 222, 222);
}

#sub-list > li:nth-child(odd) {
    background-color: rgb(147, 146, 146);   
}

#sub-list a {
    color: rgb(88, 87, 87);
}