@charset "UTF-8";

body {
    margin: 0;
}

header {
    margin: 0;
    padding: 36px;
    font-family: 'Roboto';
    background: rgb(31, 30, 30);
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

h1 {
    margin: 0 0 14px 0;
    font-size: 56px;
}

h2 {
    margin: 0;
    font-size: 40px;
}

nav {
    background: rgb(63, 61, 61);
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: white;
    font-family:'Roboto';
    margin-left: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

main {
    width: 70%;
    background-color: rgb(237, 237, 237);
    padding: 0 15% 0 15%;
}

div {
    min-height: 100v;
    background: white;
}

#header-part1, #header-part2, #header-part3 {
    height: 120px;
    position: relative;
}

#header-part1 {
    background: #562b00;
    color: #995008; 
}

h3 {
    margin: 0;
    font-family: 'Roboto';
    font-size: 35px;
    position: absolute;
    left: 0;
    bottom: 0;
    letter-spacing: 1px;
}

span {
    font-size: 50px;
    margin-right: 8px;
}   

h4, p {
    margin: 20px 10px 20px 10px;
}

footer {
    background: rgb(31, 30, 30);
    color: white;
    text-align: center;
    font-family: 'Roboto';
    padding: 40px;
    letter-spacing: 1px;
}

footer a {
    color: white;
    text-decoration: none;
}