@charset "UTF-8";

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

main {
    width: 100%;
}

header {
    border-bottom: 1px solid black;
    margin-bottom: 40px;
    padding: 18px;
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
    color: #555;
}

h3 {
    color: #393939;
    font-style: italic;
}

p {
    line-height: 1.4;
}

section {
    padding: 20px;
    margin: 12px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

code {
    font-family: 'Courier New', Courier, monospace;
}

#demo-box {
    height: 80px;
    width: 80px;
    background-color: brown;
    border-radius: 10%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 
        transform 1s,
        background-color 1s;
}

#demo-box:hover {
    transform: rotate(180deg);
    background-color: rgb(22, 47, 160);
}

#animation-area {
    position: relative;
    width: 100%;
    height: 100px;
}

@keyframes roteraOchFärg {
    0% {
        left: 0;
        transform: rotate(0deg);
        background-color: brown;
    }
    50% {
        background-color: orange;
    }
    100% {
        left: calc(100% - 100px);
        transform: rotate(360deg);
        background-color: darkgreen;
    }
}

#demo-circle {
    position: absolute;
    top: 10px;
    left: 0;

    height: 80px;
    width: 80px;
    background-color: brown;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    animation: roteraOchFärg 5s infinite alternate;
}

td {
    border: 1px solid black;
    padding: 5px;
}

tr:first-child {
    background-color: rgb(211, 210, 210);
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

img {
    height: 100%;
    width: 100%;
}

footer {
    background: rgb(53, 53, 53);
    margin: 0;
    margin-top: 16px;
    padding: 14px;
    text-align: center;
    color: white;
    font-style: italic;
}

footer p {
    margin-top: 12px;
    margin-bottom: 0;
}

footer a {
    text-decoration: none;
    color: white;
}

#section1 { grid-area: section1; }
#section2 { grid-area: section2; }
#section3 { grid-area: section3; }
#section4 { grid-area: section4; }
header    { grid-area: header;   }
footer    { grid-area: footer;   }

@media (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "header     header"
        "section1   section2"
        "section3   section2"
        "section3   section4";
    }   
}

@media (min-width: 1000px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-areas: 
        "header     header      header"
        "section1   section2    section3"
        "section4   section2    section3"
        "footer     footer      footer";
    }
}