* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding: 20px;

}

.box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    background-color: rgb(29, 108, 45);
    color: white;
    border: 1px;
    border-radius: 8px;
    padding: 15px;
    margin: 0 10px;
}