body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section {
    height: 150px;
    width: 150px;
    background-color: rgb(34, 127, 35);
    color: white;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 8px;
}