body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    width: 300px;
    height: 300px;
    background-color: rgb(34, 34, 34);  
    color: white; 
    border-radius: 8px;
    opacity: 70%;
    padding: 30px;
}