@charset "UTF-8";

body {
    margin: 0;
}

main {
    height: 100%;
    padding: 26px;
    background-color: rgb(100, 151, 177);
}

h2, h3, h4, h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 91, 150);
}

h1 {
    text-align: center;
    margin: 28px;
    font-size: 38px;
    letter-spacing: 2px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin-top: 16px;
    font-size: 30px;
}

h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 18px;
}

h5 {
    margin-top: 30px;
    font-size: 16px;
}

p, ul, table {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.3px;
    line-height: 20px;
}

p, ul {
    line-height: 26px;
}

header {
    background-color: rgb(1, 31, 75);
    color: white;
    padding-top: 6px;
}

nav {
    margin: 0;
    font-size: 16px;
}

.nav-item {
    float: left;
    outline: 1px solid black;
    padding: 4px;
    padding-left: 24px;
    padding-right: 24px;
    transition-property: background-color;
    transition-duration: 0.4s;
}

.nav-item:hover {
    background-color: rgb(7, 41, 73);
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(3, 57, 108);
    padding-left: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

table, td {
    border: 1px solid rgb(154, 154, 154);
    padding: 4px;
}

table {
    height: 160px;
    text-align: center;
}

article, aside {
    padding: 28px;
    background-color: rgb(223, 222, 222);
    border-radius: 6px;
}

#index {
    main {
        display: grid;
        grid-template-columns: 70% 30%;
        gap: 26px;
    }

    h2 {
        display: flex;
        align-items: center;
    }

    .material-symbols-outlined {
        color: rgb(0, 91, 150);
        font-size: 30px;
        margin-left: 12px;
        font-weight: bold;
    }

    aside {
        margin-right: 26px;
    }

    td:first-child {
        background-color: rgb(124, 174, 199);
    }

    tr:nth-child(odd) {
        background-color: rgb(179, 205, 224);
    }

    #sidebar-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "table      table"
        "table      table"
        "atomur     solur"
        "timglas    merkhet";
        gap: 8px;
    }

    table {
        grid-area: table;
        margin-bottom: 20px;
    }

    section {
        height: 120px;
        background-position: center;
        background-size: cover;
    }

    #atomur { 
        background-image: url(bilder/atomur.jpg); 
        grid-area: atomur;
    }   

    #solur {
        background-image: url(bilder/solur.jpg);
        grid-area: solur;
    }

    #timglas {
        background-image: url(bilder/timglas.webp);
        grid-area: timglas;
    }

    #merkhet {
        background-image: url(bilder/merkhet.jpg);
        grid-area: merkhet;
    }
}

#sida2 {
    h2 {
        background-color: rgb(223, 222, 222);
        border-radius: 6px;
        padding: 24px;
    }

    h4 {
        margin-top: 20px;
    }

    h5 {
        margin-bottom: 20px;
    }

    #main-article {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 26px;
    }

    #article2 {
        margin-right: 26px;
    }

    #article1-bottom {
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-areas: 
        "table newton";
        gap: 10px;
    }

    table {
        grid-area: table;
    }

    #newton {
        grid-area: newton;
        margin: 0;
    }

    figcaption {
        margin-top: 6px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 12px;
    }

    #newton-img {
        width: 100%;
    }

    #bil-img  {
        width: 65%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 26px;
    }
}

#sida3 {
    main {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
        ".      h2      h2      h2      ."
        "c-txt  c-txt   c-img   .       ."
        ".      td-txt  td-txt  td-img  ."
        ".      .       lk-txt  lk-txt  lk-img"
        "fakta  fakta   .       .       ."
        "fakta  fakta   .       .       .";
        gap: 20px;
        background-image: url(bilder/space.jpg);
        background-size: cover;
    }

    section {
        background-color: white;
        border-radius: 8px;
        padding: 16px;
    }

    #c-txt, #td-txt, #lk-txt, #fakta {
        opacity: 70%;
    }

    h4 {
        margin-top: 10px;
    }

    h2 { 
        grid-area: h2; 
        text-align: center;
        margin-left: 18px;
    }

    p {
        margin-bottom: 6px;
    }

    span {
        font-weight: bold;
        margin-right: 6px;
    }

    #fakta-item {
        margin-top: 8px;
        margin-bottom: 8px;
    }

    #c-txt  { grid-area: c-txt; }
    #td-txt { grid-area: td-txt; }
    #lk-txt { grid-area: lk-txt; }
    #fakta  { grid-area: fakta; }

    #c-img, #td-img, #lk-img {
        background-position: center;
        background-size: cover;
    }

    #c-img {
        grid-area: c-img;
        background-image: url(bilder/c.jpg);
    }

    #td-img {
        grid-area: td-img;
        background-image: url(bilder/rymdstation.jpg);
    }

    #lk-img {
        grid-area: lk-img;
        background-image: url(bilder/formel_lk.jpeg);
    }
}