@charset "UTF-8";

body {
    display: grid;
    height: 100vh;
    background-image: url(images/Wynton-Marsalis.jpg);
    background-size: cover;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
    ".  .   A   .   ."
    ".  txt txt B   ."
    "C  .   .   .   ."
    ".  D   .   E   ."
    "F  .   G   .   ."
    ;
}

section {
    display: grid;
    background-color: #D4759F;
    border-radius: 6px;
    margin: 14px;
    color: #EEE;
    padding: 18px;
}

p {
    font-family: Times New Roman;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 6px;
}

h1, h3, h5 {
    font-family: Verdana;
}

h1 {
    color: black;
    text-align: end;
}

h3, h5 {
    font-weight: normal;
}

h3 {
    font-size: 22px;
    margin-top: 6px;
}

h5 {
    font-size: 12px;
    margin-bottom: 6px;
}

#A { grid-area: A; }
#B { grid-area: B; }
#C { grid-area: C; }
#D { grid-area: D; }
#E { grid-area: E; }
#F { grid-area: F; }
#G { grid-area: G; }
#txt { 
    grid-area: txt; 
}