@charset "UTF-8";

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

section {
    background: black;
    margin: 10px;
    border-radius: 10px;
    color: white;
    padding: 16px;
}

h2 {
    border-bottom: 1px solid white;
}

div {
    height: 140px;
    background-size: cover;
    background-position: center;
    margin: 0 10px 10px 10px;
}

#mars-content {
    background: url(bilder/mars.jpg);
    background-size: cover;
}

#coco-content {
    background: url(bilder/coco.png);
    background-size: cover;
}

#bounty-content {
    background: url(bilder/bounty.jpg);
    background-size: cover;
}

#japp-content {
    background: url(bilder/japp.jpg);
    background-size: cover;
}

#twix-content {
    background: url(bilder/twix.jpg);
    background-size: cover;
}

footer p {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}